{% extends 'dashboard.html' %}

{% block title %}
Usuarios | Dashboard
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
{% from "dashboard-pagination.html" import render_pagination %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="card">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<section class="page">

    <div class="page-header">

        <h1 class="page-title">
            Administración: Usuarios
        </h1>

        <div class="page-actions">
            <button id="btn-open-add-user" class="btn btn-primary btn-small">Agregar usuario</button>
        </div>

    </div>

    <div class="card">

        <form action="/dashboard/usuarios" method="GET" class="form form-filter">

            <div class="filter-row">
                <div class="form-group">
                    <label for="filter-usuario-id">ID de usuario</label>
                    <input type="number" name="id" id="filter-usuario-id" placeholder="ID de usuario">
                </div>
            </div>

            <div class="filter-row">
                <div class="form-group">
                    <label for="filter-usuario-email">Email</label>
                    <input type="text" name="email" id="filter-usuario-email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="filter-usuario-rol">Rol</label>
                    <select name="rol" id="filter-usuario-rol">
                        <option value="" {% if not request.args.get('rol') %}selected{% endif %}>
                            Todos
                        </option>
                        <option value="admin" {% if request.args.get('rol') == 'admin' %}selected{% endif %}>
                            Administrador
                        </option>
                        <option value="cliente" {% if request.args.get('rol') == 'cliente' %}selected{% endif %}>
                            Usuario
                        </option>
                    </select>
                </div>
            </div>

            <div class="filter-actions">
                <button type="button" class="btn btn-secondary btn-small" onclick="window.location.href='/dashboard/usuarios'">
                    Limpiar
                </button>
                <button type="submit" class="btn btn-primary btn-small">
                    Filtrar
                </button>
            </div>

        </form>
    </div>

    <div class="card">

        <div class="card-header">

            <h2 class="card-title">Usuarios</h2>

            {{ render_pagination('dashboard_usuarios', pagina_actual, total_paginas, limit, offset) }}

        </div>

        <div class="table-container">
            <table class="table">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for usuario in usuarios %}
                    <tr class="usuario-fila"
                        data-usuario-id="{{ usuario.usuario_id }}"
                        data-usuario-usuario="{{ usuario.nombre_usuario }}"
                        data-nombre="{{ usuario.nombre}}"
                        data-apellido="{{ usuario.apellido }}"
                        data-email="{{ usuario.email }}"
                        data-rol="{{ usuario.rol }}"
                        data-contrasena="{{ usuario.contrasena }}">

                        <td class="usuario-id">{{ usuario.usuario_id }}</td>
                        <td class="usuario-usuario">{{ usuario.nombre_usuario }}</td>
                        <td class="usuario-nombre">{{ usuario.nombre }}</td>
                        <td class="usuario-apellido">{{ usuario.apellido }}</td>
                        <td class="usuario-email">{{ usuario.email }}</td>
                        <td class="usuario-rol">
                            {{ {
                                'admin': 'Administrador',
                                'cliente': 'Usuario'
                            }.get(usuario.rol, usuario.rol) }}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-small btn-open-edit-user-role">
                                Editar credenciales
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-small btn-open-edit-completo">
                                Editar Usuario
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    <div id="modal-add-user" class="modal-overlay hidden">
        <div class="modal-card">

            <button class="btn modal-close btn-close-modal">
                x
            </button>

            <h2 class="modal-title">
                Agregar usuario
            </h2>

            <form id="form-add-user" action="/dashboard/usuarios/crear" method="POST" class="form form-modal">

                <div class="form-group">
                    <label for="add-user-name">Nombre</label>
                    <input type="text" id="add-user-name" name="nombre" placeholder="Nombre" required minlength="1">
                </div>
                <div class="form-group">
                    <label for="add-user-last-name">Apellido</label>
                    <input type="text" id="add-user-last-name" name="apellido" placeholder="Apellido" required minlength="1">
                </div>
                <div class="form-group">
                    <label for="add-user-username">Nombre de usuario</label>
                    <input type="text" id="add-user-username" name="nombre_usuario" placeholder="Nombre de usuario" required minlength="1">
                </div>
                <div class="form-group">
                    <label for="add-user-email">Email</label>
                    <input type="email" id="add-user-email" name="email" placeholder="Email" required minlength="1">
                </div>
                <div class="form-group">
                    <label for="add-user-password">Contraseña</label>
                    <input type="text" id="add-user-password" name="contrasena" placeholder="Contraseña" required minlength="1">
                </div>
                <div class="form-group">
                    <label for="add-user-role">Rol</label>
                    <select id="add-user-role" name="rol">
                        <option value="cliente">Usuario</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>

            </form>

            <div class="modal-actions">
                <button type="submit" form="form-add-user" class="btn btn-primary btn-small btn-save-user">
                    Guardar
                </button>
            </div>

        </div>
    </div>

    <div id="modal-edit-user-parcial" class="modal-overlay hidden">
        <div class="modal-card">

            <button class="btn modal-close btn-close-modal">
                x
            </button>

            <h2 class="modal-title">
                Editar email y contraseña del usuario
            </h2>

            <form id="form-edit-user-role" action="/dashboard/usuarios/editar/parcial" method="POST" class="form form-modal">
                <input type="hidden" name="id_usuario" id="input-edit-id-usuario">
                <div class="form-group">
                    <label for="edit-user-email">Nuevo email</label>
                    <div class="password-container">
                        <input type="email" id="edit-user-email" name="email" placeholder="Dejar vacío para no cambiar">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="edit-user-password">Nueva Contraseña</label>
                    <input type="password" id="edit-user-password" name="password" placeholder="Dejar vacío para no cambiar">
                    <button type="button" id="toggle-pass-btn">Mostrar</button>
                </div>
                <div class="modal-actions">
                  <button type="submit" class="btn btn-primary btn-small btn-update-user-role">
                       Guardar
                  </button>
                </div>
            </form>
        </div>
    </div>



    <div id="modal-view-credentials" class="modal-overlay hidden">
        <div class="modal-card">

            <button class="btn modal-close btn-close-modal">
                x
            </button>

            <h2 class="modal-title">
                Credenciales
            </h2>

            <div class="table-container">
                <table class="detail-table">
                  <tbody>                      
                       <tr class="table-row">
                          <td><strong>Email:</strong></td>
                          <td class="usuario-email"></td>
                       </tr>
                       <tr class="table-row">
                          <td><strong>Contraseña:</strong></td>
                          <td class="usuario-contrasena"></td>
                       </tr>
                  </tbody>
                </table>
           </div>
       </div>
    </div>

    <div id="modal-edit-user-completo" class="modal-overlay hidden">
        <div class="modal-card">

            <button class="btn modal-close btn-close-modal">
                x
            </button>

            <h2 class="modal-title">
                Editar datos del usuario
            </h2>

            <form id="form-edit-user-completo" action="/dashboard/usuarios/editar/completo" method="POST" class="form form-modal">
                <input type="hidden" name="id_usuario" id="input-full-id">
                <div class="form-group">
                    <label for="input-full-username">Usuario</label>
                    <input type="text" name="usuario" id="input-full-username">
                </div>
                <div class="form-group">
                    <label for="input-full-nombre">Nombre</label>
                    <input type="text" name="nombre" id="input-full-nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <label for="input-full-apellido">Apellido</label>
                    <input type="text" name="apellido" id="input-full-apellido" placeholder="Apellido" required>
                </div>
                <div class="form-group">
                    <label for="input-full-rol">Rol</label>
                    <select name="rol" id="input-full-rol">
                        <option value="cliente">Usuario</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>
                <input type="hidden" name="email" id="input-full-email">
                <input type="hidden" name="password" id="input-full-password">
                <div class="modal-actions">
                    <button type="submit" class="btn btn-primary btn-small">Guardar cambios</button>
                </div>
            </form>
            <button type="button" class="btn btn-secondary btn-small btn-delete-user-modal" data-id=""> 
                Borrar Usuario
            </button>
        </div>
    </div>

    <div id="modal-delete-user" class="modal-overlay hidden">
        <div class="modal-card">
            <h2 class="modal-title">Confirmar eliminación</h2>
            <p>¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.</p>
            <div class="modal-actions">
                <button id="btn-cancel-delete" class="btn btn-secondary btn-small">Cancelar</button>
                <button id="btn-confirm-delete" class="btn btn-primary btn-small">Confirmar</button>
            </div>
        </div>
    </div>

    <form id="form-delete-usuario" action="/dashboard/usuarios" method="POST" class="hidden">
        <input type="hidden" name="id_usuario" id="delete-id-usuario">
    </form>
    <form id="form-view-credentials" action="/dashboard/usuarios/credenciales" method="POST" class="hidden">
        <input type="hidden" name="email" id="view-credentials-email">
    </form>
</section>
{% endblock %}

{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='js/dashboard/usuarios.js') }}"></script>
{% endblock %}
