{% extends 'base.html' %}

{% block title %}Basheros | Menú{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-fondo">
        <img src="{{ url_for('static', filename='assets/images/fondo-menu.jpg') }}" alt="img_fondo">
        <div class="hero-overlay"></div>
    </div>
    <div class="hero-content">
        <h1 class="hero-title">Menú </h1>
    </div>
</section>

<section class="menu-container">
    <div class="menu-content">
        {% if menu_agrupado %}
            {% for item in menu_agrupado %}
                <article class="categoria">
                    <h2 class="categoria-titulo">{{ item.categoria.nombre }}</h2>
                    {% if item.productos %}
                        <ul class="productos-lista">
                            {% for producto in item.productos %}
                                <li class="producto-item">
                                    <div class="producto-imagen">
                                        <img loading="lazy" src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}">
                                    </div>

                                    <div class="producto-info">
                                        <div class="producto-header">
                                            <h3 class="producto-nombre">{{ producto.nombre }}</h3>
                                            <span class="producto-precio">${{ "%.2f"|format(producto.precio|float) }}</span>  
                                        </div>
                                        <p class="producto-descripcion">{{ producto.descripcion }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No hay productos disponibles en esta categoría.</p>
                    {% endif %}
                </article>
            {% endfor %}
        {% else %}
            <h2 class="menu-subtitle">Próximamente...</h2>
        {% endif %}
    </div>
</section>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}